{% extends 'shared/site.html' %}
{% block site_content %}
  {% load bootstrap4 %}
    <h1 class="text-center">Login</h1>
    <div class="row d-flex justify-content-center">
        <form method="POST" action="{% url 'signin user' %}">
            <input type="hidden" name="return_url" value="{{ request.GET.next }}" />
            {% csrf_token %}
            {% for field in login_form %}
                {% bootstrap_field field %}
            {% endfor %}

            {% buttons %}
                <button class="btn btn-primary">Login</button>
                <p>Not a user yet? <a href="{% url 'signup user' %}?next={{ request.GET.next }}">Register</a></p>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}