.navigation-bar {
    width: 100%;
    height: 70px;
    background-color: rgb(2, 48, 71);
    position: absolute;
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 10px;
}
.navigation-bar a {
    font-family: 'Roboto', 'Lato', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 70px;
    line-height: 70px;
    color: rgb(5,119,177);
    font-weight: bold;
}

nav a:hover {
    color: #05b195;
    text-decoration: none;
    font-size: 110%;
}
.bg-img {
    min-height: 800px;
    min-width: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	width: 100%;
	height: 100vh;
}

.contact-form {
    position: absolute;
    right: 0;
    margin: 80px;
    width: 500px;
    padding: 16px;
    background-color: rgb(5,119,177);
    border-radius: 10px;
}

.grid {
  box-sizing: border-box;
  display: grid;
  width: 100em;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card-content {
  padding: 1.5rem;
}

.card-header {
  font-size: 1rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 1rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1rem;
}

@media only screen and (max-width: 60em) {
  body {
    padding: 1rem;
  }

  .grid {
    grid-gap: 1rem;
  }
}

.consignments-page-color{
    background-color: #79aec8;
}