{% extends 'shared/site.html' %}
{% block site_content %}
    {% load bootstrap4 %}

    <div class="bg-img" style="background-image: url('/static/contact_us.png')">
        <form method="POST" action="{% url "contact" %}" enctype="multipart/form-data" class="contact-form" id="ContactForm">
            {% csrf_token %}
            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}
            {% buttons %}
                <button class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}


